<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/" href="#">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" *ngIf="isAuthenticated">
                <a class="nav-link" href="#" >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" *ngIf="isAuthenticated">
                <a class="nav-link" routerLink="/manage" routerLinkActive="active" 
                href="#">Manage Products <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/empreg" routerLinkActive="active" href="#">EMP. REG <span
                class="sr-only">(current)</span></a>
            </li>
        
            <li class="nav-item dropdown active" >
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div> 
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
            <!-- <li routerLinkActive="active"><a routerLink="/sign">Sign-Up</a></li> -->
            <!-- <a routerLink="/sign" routerLinkActive="active">Signup</a> -->
            <!-- <a routerLink="/manage" routerLinkActive="active">MP</a> -->
            <!-- <a routerLink="/empreg" routerLinkActive="active">EMP REG</a> -->
            
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >
            <a routerLink="/sign" routerLinkActive="active" *ngIf="!isAuthenticated">Sign-Up</a></button>|
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >
        <a routerLink="/sign" routerLinkActive="active" *ngIf="isAuthenticated">Logout</a></button>
        </form>
    </div>
</nav>
<router-outlet></router-outlet> 

<!-- <div class="container"> -->
<!-- <app-manage-products></app-manage-products> -->
<!-- <app-employees></app-employees> -->
<!-- </div> -->

